<form method="POST">
    {% csrf_token %}
    
    
    {{ game_list.0 }}
    {{ games_list.0.game_time }}
    {{ games_list.0.game_board }}
    <button type="submit" value="update_data">Submit Information</button>
</form>


<form action="{% url 'chess:vote' 0 %}" method="post">
{% csrf_token %}
{{ game_list.0.game_id}}
<fieldset>
    <legend><h1>{{ game_list.0.game_board }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for game in game_list %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ game.game_time }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>