<!-- <form method="POST">
    {% csrf_token %}
    
    
    {{ games_list.0.game_time_black }}
    {{ games_list.0.game_board }}
    <button type="submit" value="update_data">Submit Information</button>
</form>


<form action="{% url 'chess:vote' 0 %}" method="POST">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ games_list.0.game_board }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for game in games_list %}
        <input type="radio" name="game" id="game{{ forloop.counter }}" value="{{ game.game_board }}">
        <label for="game{{ forloop.counter }}">{{ game.game_board }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="John Doe">
</form> -->