#changePuzzle {
    display: inline-block;
    text-align: center;
}

#note {
    font-size: 15px;
}

#rules {
    width:618px;
}

.given {
    fill:#aaaaaa;
}

.tile {
    fill: white;
}

body {
    padding: 20px;
    font-family: Arial;
}

input, p {
    font-size: 20px;
}

svg {
    width:618px;
    height:618px;
    background-color: black;
}

text {
    fill: black;
    font-size: 25px;
    text-anchor: middle;
}
