.line {
    stroke-width: 10;
    stroke: black;
}

text {
    fill: black;
    font-size: 25px;
    text-anchor: middle;
}

.given {
    fill:#aaaaaa;
}

.tile {
    fill: white;
}

svg {
    background-color: black;
}
