main{



}

body{
    font-family: Arial;
    background-color: #dddddd;
}

table{
    align-content: center;
    background-color: #aaaaaa;
    border-width: 3px;
    border-color: #000000;
    border-style: solid;
}

th{
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    width: 50px;
    height: 25px;   
}

td{ 
    text-align: center;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    width: 220px;
    height: 120px;
}

td div{
    width: 200px;
    height: 120px;
}

.day{
    margin-top: -5px;
    text-align: left;
    vertical-align: top;
    font-size: 20px;
}

.notmonth{

    color: #555555;

}

h2{
    font-size: 30px;
    text-align: center;

}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.roster{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 350px;
    text-align: left;
    font-size: 40px;
}

nav{

    display: fixed;
    

}

nav li{
    display: inline;
    margin-left : 20px;
    margin-top: 0px;
}

nav ul{
    text-align: center;
    padding: 2px;
    display: fixed;
    margin: 0%;
    background-color:#000099;
}

nav a{
    background-color: #000099;
    border-color: #888888;
    border-width: 4px;

}

nav a:hover{

    background-color: #3333bb;

}


li a{
    color:#ffffff;
    text-decoration: none;
    font-size: 30px;
}
