main{



}

body{
    padding-bottom: 2px;
    font-family: Arial;
    background-color: #f5e068d8;
}

table{
    align-content: center;
    background-color: #bbbbbb;
    border-width: 3px;
    border-color: #000000;
    border-style: solid;
}

th{
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    width: 50px;
    height: 25px;   
}

td{ 
    text-align: center;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    width: 220px;
    height: 120px;
}

td div{
    width: 200px;
    height: 120px;
}

.day{
    margin-top: -5px;
    text-align: left;
    vertical-align: top;
    font-size: 20px;
}

.notmonth{

    color: #555555;

}

h1{
    font-size: 50px;
    text-align: center;
}


h2{
    font-size: 30px;
    text-align: center;

}

h3{
    text-align: center;
}

p{
    text-align: center;

}

#roster{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 650px;
    text-align: left;
    font-size: 30px;
    background-color: #ffffff;
}
#roster ul li{
    color: #000099;
    padding-top: 10px
}
nav{
    background-color:#000099;
    display:fixed;
    padding: 10px;
}

nav li{
    display: inline;
    margin-left : 20px;
    margin-top: 0px;
    width: 100%;
}

nav ul{
    text-align: center;
    padding: 2px;
    display: fixed;
    margin: 0%;

}

nav a{
    background-color: #000099;
    border-color: #888888;
    border-width: 4px;
    font-size: 30px;
}

nav a:hover{

    background-color: #3333bb;

}

a{
    color: #000000;
    font-size: 20px;
}

li a{
    color:#ffffff;
    text-decoration: none;
    font-size: 30px;
}


#tickets{

    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-top: 10px;
    text-align: center;
}

#tickets a{
    color: #ffffff;
    font-size: 40px;
    background-color: #000099;
    padding: 10px;
}

#tickets a:hover{

    background-color: #3333bb;


}


#tickets p{

    font-size: 20px;

}

#mediabar{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: -10px;
    height: 250px;
    width: 400px;
}

#mediabar ul{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 427px;

    background-color: #000099;
}

.notfirst{

    padding-left: 30px;

}


#mediabar li{
    list-style: none;
    display: inline;
}

#schedule{
    margin-left: auto;
    margin-right: auto;
}

.logo{
    float: right;
}

.content{

    padding-top: 10px;

}

.info{

    font-size: 20px;


}


