/* Id styles */
#save-failed {
    color: red;
}

/* Class styles */
.countryflag{ 
    padding-left: 5px;
}

.abrev { 
    max-width: 60px;
    text-align: center;
}

.countrylink { 
    padding-left: 30px;
}

/* Tag styles */

td {
    font-size: 20px;
}